.layout-header {
    @include size(100%, 60px);
    @include flex(null, space-between);
    user-select: none;
    padding: 0 20px;
    border-bottom: 1px solid $border;
    background: $white;
}

.layout-header__left, .layout-header__right {
    height: 100%;
    @include flex(center, null);
}

.layout-header__right {
    padding-right: 20px;
}

.collapse {
    @include size(40px);
    @include flex;
    cursor: pointer;

    .collapse__icon {
        @include text(30px, $icon, null, center);
        transition: all 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
        margin: auto;

        &.collapse__icon-down {
            transform: rotate(90deg);
        }
    }

    &:hover {
        .collapse__icon {
            color: $primary;
        }
    }
}
